@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply font-outfit font-semibold py-2 px-4 rounded-lg shadow-md flex gap-2 items-center justify-center;
    }

    .btn.btn-light {
        @apply bg-white1 text-gray-500 hover:text-gray-700 shadow-white3/40 border border-gray-300;
    }

    .btn.btn-danger {
        @apply bg-red-600 text-white1 shadow-red-400/40;
    }

    .btn.btn-add {
        @apply bg-blue1 text-white1 shadow-blue1/40;
    }
}

.opacity-transition {
    transition: opacity 0.3s ease-in-out;
    /* Adjust the duration and easing as needed */
}

.opacity-0 {
    opacity: 0;
}

.opacity-100 {
    opacity: 1;
}

.error {
    color: #f28484;
    font-size: 0.9rem;
    text-align: left;
}